{if $id_google_analytics}
<script>
  ga=function(){ ga.q.push(arguments) };ga.q=[];ga.l=+new Date;
  ga('create','{php echo $id_google_analytics}','auto');ga('send','pageview');
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
{/if}