#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
services:
	- App\FrontModule\Presenters\ClankyPresenter(@container::getParameters())
	- App\FrontModule\Presenters\ErrorPresenter(@container::getParameters())
	- App\FrontModule\Presenters\HomepagePresenter(@container::getParameters())
	- App\FrontModule\Presenters\UserLogPresenter(@container::getParameters())
	- App\FrontModule\Presenters\UserPresenter(@container::getParameters())

# forms
	- App\FrontModule\Forms\User\ForgottenPasswordFormFactory
	- App\FrontModule\Forms\User\SignInFormFactory
	- App\FrontModule\Forms\User\RegisterFormFactory
	- App\FrontModule\Forms\User\ResetPasswordFormFactory
	- App\FrontModule\Components\Faktury\DokumentFormFactory
	- App\FrontModule\Forms\UserLog\UserEditFormFactory(%wwwDir%, %dir_to_user%, %user_view_fields%, %dir_to_icons%, %send_e_mail_news%)

# component services 
	AktualneClankyControl:
		implement: App\FrontModule\Components\Clanky\IAktualneClankyControl
		arguments:
			dir_to_menu: %dir_to_menu%
	- App\FrontModule\Components\Clanky\IAktualnyProjektControl
	ZobrazClanokControl:
		implement: App\FrontModule\Components\Clanky\ZobrazClanok\IZobrazClanokControl
		arguments:
			dir_to_menu: %dir_to_menu%

	- App\FrontModule\Components\News\INewsControl

	- PeterVojtech\MainLayout\GoogleAnalytics\IGoogleAnalyticsControl
	- PeterVojtech\News_key\NewsKeyControl