{var $robots = noindex}
{block #content}
<div class="row error-400">
  <div class="col-12">
    <h2 n:inner-block="title">
    	{_($err_code.'_h2')}
   	</h2>
    <div class="alert alert-danger">
      <i class="fas fa-exclamation-triangle fa-fw"></i>
      {_($err_code.'_text')}
      <br>
      <a n:href="Homepage:" title="Homepage" class="alert-link">{_'err_go_to_homepage'}</a>
    </div>
  </div>
</div>