<img class="jslghtbx-thmb img-rounded" src="{$basePath}/{$dir_to_product}{$item->thumb_file}" alt="{$item->name}" data-jslghtbx="{$basePath}/{$dir_to_product}{$item->main_file}" data-jslghtbx-group="productsgroup">