<img class="jslghtbx-thmb img-rounded noajax" src="{$basePath}/{$item->thumb_file}" alt="{$item->name}" data-jslghtbx="{$basePath}/{$item->main_file}" data-ajax="false" data-jslghtbx-group="productsgroup">