/* 
 * @author Ing. Peter VOJTECH ml. <petak23@gmail.com>
 * Last update: 29.04.2021 
 */

/** ---- Univerzálne štýly ----*/
a[href^="#error:"] {
    background: red;
    color: white;
}
.fa-1_5x { 
  font-size: 1.5em;
}
#uvodnyText{
	margin-top: 0;
}

/** ---- Horné menu - rozbaľovacia čast ---- */
#topNav .dropdown .nav-link {
  float: left;
}
#topNav .dropdown-toggle:after {
  margin: .8em .25em 0 0; 
  font-size: 150%;
}
#topNav .dropdown-menu {
  background-color: transparent;
  border: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
#topNav.shrink .dropdown-menu {
  background-color: rgba(250,250,250,0.90) !important;
}
#topNav .dropdown-menu .navbar-nav {
  flex-direction: column;
}

/** ---- Hlavná ponuka na titulke ---- */
#webContent {
  margin-top: 15rem;
}
#webParts .part-small i, #webParts-md .part-small i {
  font-size: 2rem;
}
#webParts .part-small i.bolder, #webParts-md .part-small i.bolder {
  font-weight: 300;
}
#webParts a, #webParts-md a {
  color: #ddd;
}  
#webParts .part-small a:hover, #webParts-md .part-small a:hover {
  color: #333;
}  

/** ---- Informácie o užívateľovi ---- */
.user-info {
  padding-bottom: 1ex;
}
.user-info dl {
  margin: 0;
}
.user-info dt {
  color: #ccc;
  font-weight: normal;
}
.user-info dd {
  font-weight: bold;
  color: #999;
  margin: 0 0 1ex 1ex;
  padding: .75ex;
}
.user-info a.btn {
  margin: .5ex 0;
  width: 100%;
}
.user-info input[type="text"] {
  width: 100%;
  color: #ddd;
  background-color: #333;
  border: 1px solid #ccc;
  border-radius: .5ex;
  margin: 0 0 1ex 0;
  padding: .75ex;
}
.user-info input[disabled="disabled"] {
  border: 0;
  background-color: transparent;
  font-weight: bold;
  color: #999;
}  
.user-info input[type="submit"] {
  width: 100%;
}

/** ---- Drobečková navigácia ---- */
.breadcrumb-main {
  font-size: 0.75rem;
  background-color: transparent;
}
.breadcrumb-main a {
  font-size: 0.75rem;
  color: #ddd;
}
.breadcrumb {
  padding: .5rem 1rem;
}
.breadcrumb-main > .breadcrumb {
  background-color: transparent !important;
}

/** ---- Pre vue komponentu autocomplete ---- */
.autocomplete form {
  position: relative;
}
.autocomplete-result {
  position: absolute;
  top: 2.5rem;
  max-width: 100%;
  right: 0rem;
  margin-right: 8rem;
}
.autocomplete-result a {
  color: #222;
}
.autocomplete-result .list-group {
  width: 20rem;
  max-height: 50vh;
  overflow-y: auto;
}
.autocomplete-result .small {
  font-size: 75%;
  color: #777;
}
.autocomplete-result .is-active, .autocomplete-result li:hover {
  background-color: #343a40;
}
.autocomplete-result .is-active a, .autocomplete-result li:hover a {
  color: #ccc;
}
/** Koniec - Pre vue komponentu autocomplete */

.vue-logo {
  width: 16px;
  height: 16px;
}