<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" crossorigin href="{$basePath}/css/bootstrap.min.css">
	<link rel="icon"  type="image/png" href="{$basePath}/favicon.ico">
	<title>{ifset title}{include title|stripHtml} | {/ifset}BWfoto API</title>
</head>

<body>
	<div n:foreach="$flashes as $flash"  n:class="flash, $flash->type">{$flash->message}</div>

	<div class="container-fluid">
		{include content}
	</div>

	{block scripts}{/block}
</body>
</html>