{block content}
<div class="col">
  <adminmenu_homepage
    basepath="{$basePath}"
    admin_menu_active="{$admin_menu_active}"
    dir_to_icons="{$dir_to_icons}"
    user="{($user->getIdentity()->data|to_json)}"
  >
  </adminmenu_homepage>
</div>