<h2 n:if="!(isset($nastav['view_h2']) && !$nastav['view_h2'])">
  {$clanok->view_name} <small n:if="$clanok->h1part2 != null && strlen($clanok->h1part2)">{$clanok->h1part2}</small>
</h2>
<span class="popis" n:ifset="$clanok->text">
  {$clanok->text_c|obr_v_txt|koncova_znacka|noescape}
</span>