#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

services:
#    wlCssFilter: WebLoader\Filter\CssUrlsFilter(%wwwDir%)
#    lessFilter: WebLoader\Filter\LessFilter
    jwlCssMinFilter: Joseki\Webloader\CssMinFilter
    jsMin: Joseki\Webloader\JsMinFilter

extensions:
  webloader: WebLoader\Nette\Extension

webloader:
  css:
    front:
      files:
        - %wwwDir%/css/all.min.css #font-awesome.css
        - %wwwDir%/../node_modules/bootstrap/dist/css/bootstrap.min.css
        - %wwwDir%/css/lightbox.css
        - %wwwDir%/fonts/css/open-iconic-bootstrap.css
        - %wwwDir%/css/front/fonts.css
        - %wwwDir%/css/front/bw.css
        - %wwwDir%/css/front/responsive.css
        - %wwwDir%/css/front/x_docasne.css
#        - %wwwDir%/css/jquery-ui.css
#        - %wwwDir%/css/datagrid.css
        - {files: ["*.css", "*.less"], from: %wwwDir%/css/front} # Nette\Utils\Finder support
      filters:
        - @jwlCssMinFilter
#      fileFilters:
#        - @lessFilter
#        - @wlCssFilter
      watchFiles:     # only watch modify file
        - {files: ["*.css", "*.less"], from: %wwwDir%/css/front}
        - {files: ["*.css", "*.less"], in: %wwwDir%/css/front}
    admin:
      files:
        - %wwwDir%/css/all.min.css #font-awesome.css
        - %wwwDir%/css/jquery-ui.css
        - %wwwDir%/css/datagrid.css
        - %wwwDir%/css/lightbox.css
        - {files: ["*.css", "*.less"], from: %wwwDir%/css/admin} # Nette\Utils\Finder support
      filters:
        - @jwlCssMinFilter
#      fileFilters:
#        - @lessFilter
#        - @wlCssFilter
      watchFiles:     # only watch modify file
        - {files: ["*.css", "*.less"], from: %wwwDir%/css/admin}
        - {files: ["*.css", "*.less"], in: %wwwDir%/css/admin}

  js:
    frontBefore:
      files:
#        - %wwwDir%/js/jquery-1.12.4.js
#        - %wwwDir%/js/bootstrap.js
#        - %wwwDir%/js/netteForms.min.js
#        - %wwwDir%/js/nette.ajax.js
#        - %wwwDir%/js/jquery-ui-1.12.1.min.js #Only datepicker & sortable
#        - %wwwDir%/js/jquery.ui.datepicker-sk.js
#        - %wwwDir%/js/nittro.min.js
#        - %wwwDir%/js/datagrid.js
#        - %wwwDir%/js/js-image-slider.js
#        - %wwwDir%/js/forestmap.js
#        - %wwwDir%/js/dropmenuJQ.js
        - %wwwDir%/js/lightbox.js
#      filters:
#        - @jsMin
    frontAfter:
      files:
#        - %wwwDir%/js/jquery-1.12.4.js
#        - %wwwDir%/js/jquery-slim.min.js
        - %wwwDir%/../node_modules/jquery/dist/jquery.min.js
        - %wwwDir%/js/popper.min.js
        - %wwwDir%/../node_modules/bootstrap/dist/js/bootstrap.min.js
        - %wwwDir%/js/netteForms.min.js
#        - %wwwDir%/js/nette.ajax.js
#        - %wwwDir%/js/jquery-ui-1.12.1.js
#        - %wwwDir%/js/jquery.ui.datepicker-sk.js
#        - %wwwDir%/js/lightbox.js
#        - %wwwDir%/js/lightbox.config.front.js
        - %wwwDir%/js/Naja.js
        - %wwwDir%/js/pomocne_front.js
        - %wwwDir%/js/nav-shrink.js
#      filters:
#        - @jsMin

    admin:
      files:
        - %wwwDir%/js/admin/jquery-1.12.4.js
        - %wwwDir%/js/popper.min.js
        - %wwwDir%/js/admin/bootstrap.js
        - %wwwDir%/js/netteForms.min.js
        - %wwwDir%/js/admin/nette.ajax.js
        - %wwwDir%/js/admin/jquery-ui-1.12.1.js
        - %wwwDir%/js/jquery.ui.datepicker-sk.js
        - %wwwDir%/js/lightbox.js
        - %wwwDir%/js/lightbox.config.admin.js
        - %wwwDir%/js/datagrid.js
        - %wwwDir%/js/pomocne_admin.js
#      filters:
#        - @jsMin
    texyla:
      files:
        - %wwwDir%/js/texyla/js/texyla.js
        - %wwwDir%/js/texyla/js/selection.js
        - %wwwDir%/js/texyla/js/texy.js
        - %wwwDir%/js/texyla/js/buttons.js
        - %wwwDir%/js/texyla/js/dom.js
        - %wwwDir%/js/texyla/js/view.js
        - %wwwDir%/js/texyla/js/ajaxupload.js
        - %wwwDir%/js/texyla/js/window.js
        - %wwwDir%/js/texyla/languages/cs.js
        - %wwwDir%/js/texyla/languages/sk.js
        - %wwwDir%/js/texyla/languages/en.js
        - %wwwDir%/js/texyla/plugins/keys/keys.js
        - %wwwDir%/js/texyla/plugins/resizableTextarea/resizableTextarea.js
        - %wwwDir%/js/texyla/plugins/img/img.js
        - %wwwDir%/js/texyla/plugins/table/table.js
        - %wwwDir%/js/texyla/plugins/link/link.js
        - %wwwDir%/js/texyla/plugins/emoticon/emoticon.js
        - %wwwDir%/js/texyla/plugins/symbol/symbol.js
        - %wwwDir%/js/texyla/plugins/files/files.js
        - %wwwDir%/js/texyla/plugins/color/color.js
        - %wwwDir%/js/texyla/plugins/textTransform/textTransform.js
        - %wwwDir%/js/texyla/plugins/youtube/youtube.js
        - %wwwDir%/js/texyla/plugins/gravatar/gravatar.js
        - %wwwDir%/js/texyla/texyla-init.js
      filters:
        - @jsMin