#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
  web_files:
    Front:
      js: []
    Edit:
      js: []
    Admin:
      js: []

services:
#    wlCssFilter: WebLoader\Filter\CssUrlsFilter(%wwwDir%)
#    lessFilter: WebLoader\Filter\LessFilter
    jwlCssMinFilter: Joseki\Webloader\CssMinFilter
    jsMin: Joseki\Webloader\JsMinFilter

extensions:
  webloader: WebLoader\Nette\Extension

webloader:
  css:
    front:
      files:
        - %wwwDir%/www/css/font-awesome.css
        - %wwwDir%/www/css/bootstrap.css
        - %wwwDir%/www/css/bootstrap-theme.css
        - %wwwDir%/www/css/nittro.min.css
#        - %wwwDir%/www/css/jquery-ui.css
#        - %wwwDir%/www/css/datagrid.css
        - %wwwDir%/www/css/lightbox.css
        - {files: ["*.css", "*.less"], from: %wwwDir%/www/css/front} # Nette\Utils\Finder support
      filters:
        - @jwlCssMinFilter
#      fileFilters:
#        - @lessFilter
#        - @wlCssFilter
      watchFiles:     # only watch modify file
        - {files: ["*.css", "*.less"], from: %wwwDir%/www/css/front}
        - {files: ["*.css", "*.less"], in: %wwwDir%/www/css/front}
    admin:
      files:
        - %wwwDir%/www/css/font-awesome.css
        - %wwwDir%/www/css/bootstrap.css
        - %wwwDir%/www/css/bootstrap-theme.css
        - %wwwDir%/www/css/jquery-ui.css
        - %wwwDir%/www/css/datagrid.css
        - %wwwDir%/www/css/lightbox.css
        - {files: ["*.css", "*.less"], from: %wwwDir%/www/css/admin} # Nette\Utils\Finder support
      filters:
        - @jwlCssMinFilter
#      fileFilters:
#        - @lessFilter
#        - @wlCssFilter
      watchFiles:     # only watch modify file
        - {files: ["*.css", "*.less"], from: %wwwDir%/www/css/admin}
        - {files: ["*.css", "*.less"], in: %wwwDir%/www/css/admin}

  js:
    frontBefore:
      files:
#        - %wwwDir%/www/js/jquery-1.12.4.js
#        - %wwwDir%/www/js/bootstrap.js
#        - %wwwDir%/www/js/netteForms.min.js
#        - %wwwDir%/www/js/nette.ajax.js
#        - %wwwDir%/www/js/jquery-ui-1.12.1.min.js #Only datepicker & sortable
#        - %wwwDir%/www/js/jquery.ui.datepicker-sk.js
#        - %wwwDir%/www/js/nittro.min.js
#        - %wwwDir%/www/js/datagrid.js
#        - %wwwDir%/www/js/js-image-slider.js
#        - %wwwDir%/www/js/forestmap.js
#        - %wwwDir%/www/js/dropmenuJQ.js

      filters:
        - @jsMin
    frontAfter:
      files:
#        - %wwwDir%/www/js/jquery-1.12.4.js
#        - %wwwDir%/www/js/bootstrap.js
#        - %wwwDir%/www/js/netteForms.min.js
#        - %wwwDir%/www/js/nette.ajax.js
#        - %wwwDir%/www/js/jquery-ui-1.12.1.js
#        - %wwwDir%/www/js/jquery.ui.datepicker-sk.js
#        - %wwwDir%/www/js/lightbox.js
#        - %wwwDir%/www/js/lightbox.config.front.js
#        - %wwwDir%/www/js/pomocne_front.js
      filters:
        - @jsMin

    admin:
      files:
        - %wwwDir%/www/js/jquery-1.12.4.js
        - %wwwDir%/www/js/bootstrap.js
        - %wwwDir%/www/js/netteForms.min.js
        - %wwwDir%/www/js/nette.ajax.js
        - %wwwDir%/www/js/jquery-ui-1.12.1.js
        - %wwwDir%/www/js/jquery.ui.datepicker-sk.js
        - %wwwDir%/www/js/lightbox.js
        - %wwwDir%/www/js/lightbox.config.admin.js
        - %wwwDir%/www/js/datagrid.js
        - %wwwDir%/www/js/pomocne_admin.js
      filters:
        - @jsMin
    texyla:
      files:
        - %wwwDir%/www/js/texyla/js/texyla.js
        - %wwwDir%/www/js/texyla/js/selection.js
        - %wwwDir%/www/js/texyla/js/texy.js
        - %wwwDir%/www/js/texyla/js/buttons.js
        - %wwwDir%/www/js/texyla/js/dom.js
        - %wwwDir%/www/js/texyla/js/view.js
        - %wwwDir%/www/js/texyla/js/ajaxupload.js
        - %wwwDir%/www/js/texyla/js/window.js
        - %wwwDir%/www/js/texyla/languages/cs.js
        - %wwwDir%/www/js/texyla/languages/sk.js
        - %wwwDir%/www/js/texyla/languages/en.js
        - %wwwDir%/www/js/texyla/plugins/keys/keys.js
        - %wwwDir%/www/js/texyla/plugins/resizableTextarea/resizableTextarea.js
        - %wwwDir%/www/js/texyla/plugins/img/img.js
        - %wwwDir%/www/js/texyla/plugins/table/table.js
        - %wwwDir%/www/js/texyla/plugins/link/link.js
        - %wwwDir%/www/js/texyla/plugins/emoticon/emoticon.js
        - %wwwDir%/www/js/texyla/plugins/symbol/symbol.js
        - %wwwDir%/www/js/texyla/plugins/files/files.js
        - %wwwDir%/www/js/texyla/plugins/color/color.js
        - %wwwDir%/www/js/texyla/plugins/textTransform/textTransform.js
        - %wwwDir%/www/js/texyla/plugins/youtube/youtube.js
        - %wwwDir%/www/js/texyla/plugins/gravatar/gravatar.js
        - %wwwDir%/www/js/texyla/texyla-init.js
      filters:
        - @jsMin