{var $pr = strtolower($item->pripona)}
{if $pr == 'jpg' OR $pr == 'png' OR $pr == 'gif' OR $pr == 'bmp'}
  <img class="jslghtbx-thmb img-rounded noajax" src="{$basePath}/{$item->thumb}" alt="{$item->nazov}" data-jslghtbx="{$basePath}/{$item->subor}" data-ajax="false" data-jslghtbx-group="prilohygroup">
  {*$item->nazov*}
{else}
  <a href="{plink Dokumenty: $item->id}" title="{$item->nazov}" target="_blank">
    <img class="img-rounded" 
         src="{$basePath}/{ifset $item->thumb}{$item->thumb}{else}www/ikonky/Free-file-icons-master/48px/{if is_file('www/ikonky/Free-file-icons-master/48px/'.strtolower($item->pripona).'.png')}{$item->pripona|lower}{else}_page{/if}.png{/ifset}" 
         alt="{$item->subor}">
  </a>
{/if}     