{var $robots = noindex}

{block #content}
<h2 n:block=title>{$h2}</h2>
{control setupForm}
{*<ul n:inner-foreach="$products_data as $pd">
  <li><strong>{$pd->comment}:</strong> {$pd->text}</li>
</ul>*}