{define #link}
<li class="nav-item {$n->getItemClass()}">
  {if $n->link}
    <a href="{$n->link}" title="{$n->name}">{$n->name}</a>
  {else}
    <span>{$n->name}</span>
  {/if}
</li>
{/define}

<nav id="navFooter" n:if="$startNode?" {*class="navbar navbar-inverse"*}>
  <ul class="nav text-center" n:inner-foreach="$startNode->nodes as $subNode">
    {if $subNode->id > 0 && $subNode->parent->id < 0}
      {include #link n => $subNode}
    {/if}
  </ul>
</nav>