<div n:if="count($path) > 1" class="col-xs-12 col-md-12 breadcrumb-main">
  <ol class="breadcrumb">
    <li n:if="count($path) > 1"><a href="{plink 'Homepage:'}" title="home">home</a></li>
    {foreach $path as $k => $node}
    <li n:if="$k >= $startLevel" n:class="$node->itemClass == ' selected' ? active">
      <a n:tag-if="$node->itemClass != ' selected'" href="{$node->link}" title="{$node->name}">{$node->name}</a>
    </li>
    <li n:if="count($path) == 1 && $k < $startLevel"> </li>
    {/foreach}
  </ol>
</div>