{* Sablona pre zobrazenie obsahu fotoalbumu s vue.js
 *
 * Modul: FRONT
 *
 * Posledna zmena(last change): 22.02.2022
 * @copyright  Copyright (c) 2021 - 2022 Ing. Peter VOJTECH ml.
 * @license
 * @link       http://petak23.echo-msz.eu
 *
 *}

<div class="col-12 vue-fotogalery" n:if="$attachments_count > 0">
  <fotocollage
    attachments="{$attachments}"
    basepath="{$basePath}/"
    maxrandompercwidth="30"
    {* myschema="{$schema}" *}
  ></fotocollage>
</div>