{* Sablona pre zobrazenie obsahu fotoalbumu s vue.js
 *
 * Modul: FRONT
 *
 * Posledna zmena(last change): 26.01.2023
 * @copyright  Copyright (c) 2021 - 2023 Ing. Peter VOJTECH ml.
 * @license
 * @link       http://petak23.echo-msz.eu
 *
 *}

<div class="col-12 vue-fotogalery" n:if="$attachments_count > 0">
  <fotocollage
    article_id="{$article_id}"
    base-path="{$baseUrl}"
    maxrandompercwidth="25"
  ></fotocollage>
</div>