{**
 * Hlavné rozloženie stránky pre FRONT modul aplikácie
 * My Application layout template for FRONT module.
 *
 *	Modul: FRONT
 *
 * Posledna zmena(last change): 08.02.2024
 * @copyright  Copyright (c) 2012 - 2024 Ing. Peter VOJTECH ml.
 * @license
 * @link       http://petak23.echo-msz.eu
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html lang="{$language}">
<head>	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="robots" content="{ifset $robots}{$robots}{else}index, follow{/ifset}" />
	<meta name="description" content="{$title}{$description}" />
	<meta name="keywords" content="{$keywords}" />
	<meta name="author" content="{$author}" />
	<title n:snippet="title">{$title} {block title|stripHtml|upper}{/block}</title>
	<link rel="stylesheet" type="text/css" href="{webpack front.css}">
	{* ----- Favicon ------ *}
	{control favicon}
	{block head}{/block}
</head>
<body n:class="$page_font == 'c' ? cinzel">
<div
	id="vueapp"
	v-cloak
	data-base-path="{$basePath}"
	data-base-url="{$baseUrl}"
><div id="slider" ref="myslider">
	<main-menu-load
		main_menu_active="{$main_menu_active}"
		id_hlavne_menu_lang="{$id_hlavne_menu_lang}"
		api-path="{$apiPath}"
		id_user_main="{$user->getId() != null ? $user->getId() : 0}"
	>
	</main-menu-load>
	<my-slider
		files-path="{$basePath}/www/{$nastavenie['slider']['dir']}"
	></my-slider>

	<bf-nav 
		dir-to-images="{$dir_to_images}"
		link-home="{link Homepage:}"
		link-clanky="{link Clanky:}/"
		log-in-link="{link User:}"
		log-out-link="{link Homepage:signOut}"
	/>

	
	<div class="frame">
		{* ----- ZACIATOK content - centralna cast, obsahova sekcia ----- *}
		<section id="webContent">
			<a href="{$link_page_font}" n:if="$user->isLoggedIn()">
				Prepni na: {if $page_font == 'c'}Monserat{else}Cinzel{/if}
			</a>
			<breadcrumb
				homepage="{plink 'Homepage:'}"
			></breadcrumb>
			{*control confirmForm*}
			<flash-message
				flash-messages="{($flashes|to_json)}"
			/>
			{block content}{/block}
		</section>
		<products-like
			file-path="{$basePath}/"
		></products-like>
		
		{* ----- Spodok stranky - FOOTER ----- *}
		<bf-footer
			dir-to-images="{$dir_to_images}"
			copy="&copy; {$copy} 2017 - {date('Y')}"
			reg-link="{$registracia_enabled}"
			log-in-link="{link User:}"
			user-log-link="{link UserLog:}"
			admin-link="{$adminLink}"
			adminer-link="{$adminerLink}"
			last-update="{$last_update}"
		/>
	</div>
	<toogle-mode @darkModeChanged="handleDarkModeChange"></toogle-mode>
</div></div>
	<script src="{webpack front.js}"></script>
	{control googleAnalytics}
</body>
</html>
