{* Sablona pre zobrazenie obsahu albumu s vue.js
 *
 * Modul: FRONT
 *
 * Posledna zmena(last change): 15.11.2021
 * @copyright  Copyright (c) 2012 - 2021 Ing. Peter VOJTECH ml.
 * @license
 * @link       http://petak23.echo-msz.eu
 *
 *}

{block title}{$h2}{/block}

{block content}
<article id="uvodnyText">
  {control ukazTentoClanok}
</article>
<section id="webThumbnails" class="row">
  {control fotogalery template=>'BWfoto', large=>true}
</section>