{block content}
<section class="row">
  <article class="col-12">
    <h1>{_'clanky_nenajdeny_clanok_h2'}</h1>
    <div class="alert alert-warning">
      <i class="fa fa-exclamation-triangle fa-2x fa-pull-left" aria-hidden="true"></i>
      <span>{_'clanky_nenajdeny_clanok_txt'}</span>
    </div>
  </article>
</section>