{block content}
<div class="row">
  <div class="col-12">
    <h2>{_'clanky_nenajdeny_clanok_h2'}</h2>
    <div class="alert alert-warning">
      <i class="fa fa-exclamation-triangle fa-2x fa-pull-left" aria-hidden="true"></i>
      <span>{_'clanky_nenajdeny_clanok_txt'}</span>
    </div>
  </div>
</div>