<edit-article
  base-path="{$basePath}"
  title="{_'base_edit_title'}"
  title_text="{_'base_edit_texts'}"
  title_admin="{_'base_to_admin'}"
  title_last_change="{_'base_last_change'}"
  title_platnost_do="{_'base_platnost_do'}"
  title_zadal="{_'base_zadal'}"
  edit_enabled="1"
  article_id="{$article->id}"
  link="{$this_link}"
  link_to_admin="{link $for_admin_link $article->id}"
  article_hlavicka={$article_hlavicka}
  article_avatar_view_in={$article_avatar_view_in} 
></edit-article>