{if $products->count()}
  <div n:foreach="$products as $product" class="thumb">
    <img class="img-thumbnail img-rounded jslghtbx-thmb noajax" 
         src="{$basePath}/{$product->thumb_file}" alt="{$product->name}" 
         data-jslghtbx="{$basePath}/{$product->main_file}" 
         data-ajax="false" 
         data-jslghtbx-caption="{$product->description}">
    <a href="{plink bigImg! $product->id, 1}" title="{$product->name}" n:class="$product->id == $big_img_id ? selected">
      <img class="img-responsive img-square" src="{$basePath}/{$product->thumb_file}" alt="{$product->name}">
    </a>
  </div>
{/if}
