@charset "utf-8";

@font-face
{
    font-family: "Fira Bold";
    src: url(../www/fonts/firasans-bold.woff) format('woff');
}
@font-face
{
    font-family: Fira;
    src: url(../www/fonts/firasans-regular.woff) format('woff');
}
@font-face 
{
    font-family: Fira-extrabold;
    src: url(../www/fonts/firasans-extrabold.woff) format('woff');
}
@font-face
{
    font-family: "Fira Light";
    src: url(../www/fonts/firasans-light.woff) format('woff');
}