@charset "utf-8";

@media screen and (min-width: 961px) {
#colorPhoto, .reverse .main-part
{
	display: flex;
	align-items: flex-end;
}
#colorPhoto h2, .reverse .main-part h2 { width: 100%; }
}

@media screen and (max-width: 960px) {
/* hlavicka */
.logo
{
	/*top: 10px;*/  /* Zakomentované pre nekorektné správanie PV 2020-05-05 */
	left: 50px;
}
.navbar { background-color: rgba(255,255,255,0.8); }
/* obsah */
h1 { font-size: 200%; }
h2 { font-size: 170%; }
#webParts { }
#webParts .hide-column
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.web-part { display: none; }
.home-column, .hide-column
{
	margin: 0 1%;
	width: 48%;
}
.hide-column > .web-part
{
	display: flex;
	flex-grow: 1;
	width: 100%;
	height: 32%;
	margin: 1.3% 0;
}
#webContent { width: 88%; }
	/* obsah nahlady*/
	.thumbnails .thumb
{	width: 48%; padding-top: 48%;}

}

@media screen and (max-width: 768px) {
/* hlavicka */
	.logo
{	width: 80%;}
.navbar {
	padding: 0 1rem; /* Doplnené kvoli nekorektnemu spravaniu PV 2020-05-05 */
}
.navbar-nav
{ 
	width: 60%;
	margin: 0 auto;
}
.navbar-nav li
{ border-bottom: 1px dotted #aaa;}
.navbar-nav li:hover
{ background-color: #ddd;}
/* obsah albumy*/
#webAlbums .album
{
	width: 46%;
	margin: 2%;
}
}
@media screen and (max-width: 640px) {
/* hlavicka */
.logo
{
	/*top: 10px;*/  /* Zakomentované pre nekorektné správanie PV 2020-05-05 */
	left: 20px;
}
/* obsah titulka*/
h1 { font-size: 170%; }
h2 { font-size: 150%; }
p 
{ 
	font-size: 90%;
	line-height: 1.2em;
}
#webContent { width: 93%; }
#webParts { }
#webParts .hide-column { display: none; }
.form-inline
{
	flex-flow: nowrap;
	justify-content: space-around;
}
.form-inline input { margin-right: 1%; }
.home-column { width: 100%; }
.reverse { flex-direction: column; }
.web-part { display: flex; }
.hide-column > .web-part { display: none; }
/* obsah albumy*/
#webAlbums .album
{
	width: 46%;
	margin: 2%;
}
	/* obsah nahlady*/
	.thumbnails .thumb
{	width: 95%; padding-top: 95%;}
/* footer */
footer #contact { font-size: 90%; }
#footerContent div { padding: 1em; }
}
@media screen and (max-width: 380px) {
/* hlavicka */
/* obsah */
p 
{ 
	font-size: 80%;
	line-height: 1.1em;
}
#webAlbums .album
{
	width: 90%;
	margin: 2% auto;
}
/* obsah nahlady*/
	.detail
	{	display:none;}
	.thumbnails
	{	width: 100%; }
	.thumbnails .thumb
	{	width: 48%; padding-top: 48%;}
	#webThumbnails
	{	height: 800px;}
}
