/* 
 * @author Ing. Peter VOJTECH ml. <petak23@gmail.com>
 * Last update: 08.09.2017 
 */
.user-lang-menu ul li {
  float: left;
  
}
.user-lang-menu ul li a {
  background-color: #337ab7;
  color: #dddbff;
}
.user-lang-menu ul li a:hover {
  color: #777;
}