/* 
 * @author Ing. Peter VOJTECH ml. <petak23@gmail.com>
 * Last update: 23.04.2020 
 */
input {
  color: #000;
}
label {
  color: #ccc;
}
a[href^="#error:"] {
    background: red;
    color: white;
}
.fa-1_5x { 
  font-size: 1.5em;
}
.pv-footer {
  font-size: 70%;
  color: #999;
}
.pv-footer ul {
  padding: 0;
}
footer .nav li:last-child {
  border: 0;
}
footer a {
  color: #ccc;
}
.user-info {
  padding-bottom: 1ex;
}
.user-info dl {
  margin: 0;
}
.user-info dt {
  color: #ccc;
  font-weight: normal;
}
.user-info dd {
  font-weight: bold;
  color: #999;
  margin: 0 0 1ex 1ex;
  padding: .75ex; 
  border: 1px solid #ccc;
  border-radius: .5ex;
}
.user-info a.btn {
  margin: .5ex 0;
  width: 100%;
}
.user-info input[type="text"] {
  width: 100%;
}
.user-info input[type="submit"] {
  width: 49%;
}
.popis p {
	font-family: "Fira Light", "sans-serif";
	color: #ccc;
}

.foto-album .thumbnail {
  border: none;
  border-width: 1px;
}
.foto-album .thumbnail div{
  text-align: center;
}
.homepage-nav-item {
  border: 1px solid #fff;
  padding: .5ex;
}
.breadcrumb-main {
  background-color: black;
}
.breadcrumb-main a {
  color: #ccc;
}
.foto-album-nav {
  background-color: black;
}
.foto-album-nav a.thumbnail img {
  width: 100%;
}
.detail img {
  border-width: 2px;
}
.detail button {
  padding: 5%;
  background: radial-gradient(#000, #333);
  width: 100%;
}

.lightbox-img .modal-dialog {
  max-width: 95%;
	/*max-height: 95%;*/
	background-color: rgba(20,20,20,.8);
}

.lightbox-img .modal-dialog .modal-content { 
	text-align: center;
	background-color: transparent;
  /*height: 100%;*/
}

.lightbox-img .modal-dialog .modal-header,  .lightbox-img .modal-dialog .modal-foote, .lightbox-img .modal-dialog .modal-body { 
	text-align: center;
}

/*.lightbox-img .modal-dialog .modal-body {
  height: 100%;
}*/

.lightbox-img .modal-dialog .modal-body .row div {
	text-align: center;
	color: #ddd;
}

.lightbox-img .modal-dialog .modal-body .fas {
	color: #ddd;
}

.lightbox-img .modal-dialog .modal-body .arrows {
  margin-top: auto;
  margin-bottom: auto;
}

.border-a {
  display: inline-block;
  height: 80%; 
}

.border-b {
  display: inline-block;
  height: 100%;
}

.border-c {
  display: inline-block;
  height: 100%;
}

.border-c img {
  display: block;
	height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*.thumbnails .thumb a img {
  border-width: 1px;
}*/
.thumbnails .thumb a {
  color: transparent;
}
.thumbnails .thumb a.selected img {
  background-color: #ffeb3b; 
}
.bigimg-name, .bigimg-description{
  color: #faebcc;
}
.bwfoto-foto-album-prilohy img.jslghtbx-thmb, .thumb img.jslghtbx-thmb {
  display: none;
}
.bwfoto-foto-album-prilohy .small-img, .thumb .small-img {
  cursor: pointer;
}
.video-priloha{
  width: 100%;
}
.article-foto-album img.big-img {
  width: 100%;
  border: 1px solid #999;
  border-bottom: none;
}
.article-foto-album .big-img-caption {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 1.5em;
  border: 1px solid #999;
  border-top: none;
  color: #ccc;
}

/* Pre vue komponentu autocomplete */
.autocomplete form {
  position: relative;
}
.autocomplete-result {
  position: absolute;
}
.autocomplete-result .is-active, .autocomplete-result li:hover {
  background-color: #379d2f;
  color: white;
}
/* Koniec - Pre vue komponentu autocomplete */

@media (max-width: 380px) {
  .bwfoto-foto-album-prilohy img.jslghtbx-thmb {
    display: inline-block;
  }
  .bwfoto-foto-album-prilohy .small-img {
    display: none;
  }
  .article-foto-album img.big-img {
    display: none;
  }
  .article-foto-album .big-img-caption {
    display: none;
  }
}