/* 
 * @author Ing. Peter VOJTECH ml. <petak23@gmail.com>
 * Last update: 28.07.2020 
 */

/** ---- Univerzalne styly ----*/
a[href^="#error:"] {
    background: red;
    color: white;
}
.fa-1_5x { 
  font-size: 1.5em;
}
#uvodnyText{
	margin-top: 0;
}

/** ---- Hlavna ponuka na titiulke ---- */

#webContent {
  margin-top: 15rem;
}
#webParts .part-small i, #webParts-md .part-small i {
  font-size: 2rem;
}
#webParts .part-small i.bolder, #webParts-md .part-small i.bolder {
  font-weight: 300;
}
#webParts a, #webParts-md a {
  color: #ddd;
}  
#webParts .part-small a:hover, #webParts-md .part-small a:hover {
  color: #333;
}  

/** ---- Informacie o uzivatelovi ---- */
.user-info {
  padding-bottom: 1ex;
}
.user-info dl {
  margin: 0;
}
.user-info dt {
  color: #ccc;
  font-weight: normal;
}
.user-info dd {
  font-weight: bold;
  color: #999;
  margin: 0 0 1ex 1ex;
  padding: .75ex;
}
.user-info a.btn {
  margin: .5ex 0;
  width: 100%;
}
.user-info input[type="text"] {
  width: 100%;
  color: #ddd;
  background-color: #333;
  border: 1px solid #ccc;
  border-radius: .5ex;
  margin: 0 0 1ex 0;
  padding: .75ex;
}
.user-info input[disabled="disabled"] {
  border: 0;
  background-color: transparent;
  font-weight: bold;
  color: #999;
}  
.user-info input[type="submit"] {
  width: 100%;
}

/** ---- Drobeckova navigacia ---- */
.breadcrumb-main {
  font-size: 0.75rem;
  background-color: transparent;
}
.breadcrumb-main a {
  font-size: 0.75rem;
  color: #ddd;
}
.breadcrumb {
  padding: .5rem 1rem;
}

/** ---- Fotogaleria - cast albumov - foto section ---- */
.album a {
  color: #ddd;
}
.album img {
  width: 100%;
}

/** ---- Fotogaleria - cast obsahu albumu - foto album ---- */
.detail img {
  border-width: 2px;
  width: 100%;
}
.detail button {
  padding: 5%;
  background: radial-gradient(#000, #333);
  width: 100%;
}
.thumbnails .thumb a {
  color: transparent;
}
.thumbnails .thumb a.selected img {
  background-color: #ffeb3b; 
}

/** ---- Fotogaleria - cast obsahu album - Zvatsena fotka - uroven 4 ---- */
.lightbox-img {
  background-color: rgba(20,20,20,.9);
}
.lightbox-img .modal-title {
  color: #ffeb3b;
  font-weight: bold;
}
.lightbox-img .modal-dialog .modal-content { 
	background-color: transparent;
}
.lightbox-img .modal-body {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.lightbox-img .arrows-l, .lightbox-img .arrows-r {
  position: absolute;
  top: 50%;
  opacity: .5
}
.lightbox-img .arrows-l:hover, .lightbox-img .arrows-r:hover {
  opacity: 1
}
.lightbox-img .arrows-l {
  left: 3%;
}
.lightbox-img .arrows-r {
  right: 3%;
}
.lightbox-img .description {
  color: #ddd;
}
.border-a {
  margin-left: auto;
  margin-right: auto;
}
/*.border-b {}*/
.border-c {
	max-height: 87vh;
  max-width: 100%;
}

/** ---- Pre vue komponentu autocomplete ---- */
.autocomplete form {
  position: relative;
}
.autocomplete-result {
  position: absolute;
  top: 44px;
}
.autocomplete-result a {
  color: #222;
}
.autocomplete-result .is-active, .autocomplete-result li:hover {
  background-color: #343a40;
}
.autocomplete-result .is-active a, .autocomplete-result li:hover a {
  color: #ccc;
}
/** Koniec - Pre vue komponentu autocomplete */