/* 
 * @author Ing. Peter VOJTECH ml. <petak23@gmail.com>
 * Last update: 03.11.2017 
 */
/*body {
  background-color: #000;
  color: #fff;
}*/
input {
  color: #000;
}
label {
  color: #ccc;
}
.fa-1_5x { 
  font-size: 1.5em;
}
.pv-footer {
  font-size: 70%;
  color: #999;
}
.pv-footer ul {
  padding: 0;
}
footer .nav li:last-child {
  border: 0;
}
.user-info {
  padding-bottom: 1ex;
}
.user-info dl {
  margin: 0;
}
.user-info dt {
  color: #ccc;
  font-weight: normal;
}
.user-info dd {
  font-weight: bold;
  color: #999;
  margin: 0 0 1ex 1ex;
  padding: .75ex; 
  border: 1px solid #ccc;
  border-radius: .5ex;
}
.user-info a.btn {
  margin: .5ex 0;
  width: 100%;
}
.user-info input[type="text"] {
  width: 100%;
}
.user-info input[type="submit"] {
  width: 49%;
}
.popis p {
	font-family: "Fira Light", "sans-serif";
	color: #ccc;
}
/*.datagrid {
  background-color: transparent;
}
.table-hover > tbody > tr:hover {
  background-color: #5f5f5f;
}
.datagrid .row-grid-bottom {
  background-color: transparent;
  color: #fff;
}
.text-muted {
  color: #bbb;
}
.datagrid .btn-primary:active, .datagrid .btn-primary.active {
  background-color: #006400;
}
.modal {
  top: 50px;
}
.modal-content {
  color: #000;
}
.foto-album .thumbnail {
  border: none;
}
.foto-album .thumbnail div{
  text-align: center;
}
.homepage-nav-item {
  border: 1px solid #fff;
  padding: .5ex;
}
.slider-panel img {
  width: 100%;
}*/

.bwfoto-foto-album-prilohy img.jslghtbx-thmb {
  display: none;
}
.bwfoto-foto-album-prilohy img.small-img {
  cursor: pointer;
}
.article-foto-album img.big-img {
  width: 100%;
  border: 1px solid #999;
  border-bottom: none;
}
.article-foto-album .big-img-caption {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 1.5em;
  border: 1px solid #999;
  border-top: none;
}
.nittro-flash {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.nittro-flash.nittro-flash-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.nittro-flash.nittro-flash-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.nittro-flash.nittro-flash-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.nittro-flash.nittro-flash-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

@media (max-width: 992px) {
  .bwfoto-foto-album-prilohy img.jslghtbx-thmb {
    display: inline-block;
  }
  .bwfoto-foto-album-prilohy img.small-img {
    display: none;
  }
  .article-foto-album img.big-img {
    display: none;
  }
  .article-foto-album .big-img-caption {
    display: none;
  }
}