<div id="autocomplete" data-handle-link="{link select!}" data-handle-param="{$handleParameter}">
  <autocomplete
    inputname="searchStr"
    source="{$basePath}/search"
    myred="{plink Clanky:}"
    placeholder="Hľadaj"
    choice="view_name"
    @selected="onSelect"
    ref="autocomplete"
  ></autocomplete>
</div>