<div id="autocomplete"  data-handle-link="{link select!}" data-handle-param="{$handleParameter}">
  <autocomplete
    inputname="nameOrCode"
    source="/api/v1/products"
    placeholder="Najít produkt"
    choice="name"
    @selected="onSelect"
    ref="autocomplete"
  ></autocomplete>
</div>