#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
services:
# forms
  - App\EditModule\Presenters\Forms\User\SignInFormFactory
  - App\EditModule\Presenters\Forms\User\RegisterFormFactory
  - App\EditModule\Components\Faktury\DokumentFormFactory

# component services 
  - App\EditModule\Components\Oznam\IAktualneOznamyControl
  - App\EditModule\Components\Clanky\IAktualneClankyControl
  - App\EditModule\Components\Clanky\IAktualnyProjektControl
  - App\EditModule\Components\Clanky\IPrilohyClanokControl
  - App\EditModule\Components\Clanky\OdkazNaClanky\IOdkazNaClankyControl
  - App\EditModule\Components\Clanky\ZobrazKartyPodclankov\IZobrazKartyPodclankovControl
  - App\EditModule\Components\Slider\ISliderControl
  - App\EditModule\Components\User\IUserLangMenuControl
  - App\EditModule\Components\News\INewsControl
  - App\EditModule\Components\Faktury\IViewFakturyControl