{if $prilohy->count()}
  {foreach $prilohy as $subor}
    <div class="thumb">
      <img class="img-thumbnail img-rounded jslghtbx-thmb noajax" src="{$basePath}/{$subor->thumb}" alt="{$subor->nazov}" data-jslghtbx="{$basePath}/{$subor->subor}" data-ajax="false" {*data-jslghtbx-group="mygroup1"*} data-jslghtbx-caption="{$subor->popis}">
      <a href="{plink bigImg! $subor->id}" {*data-transition="false"*}>
        <img class="img-responsive img-square" src="{$basePath}/{$subor->thumb}" alt="{$subor->nazov}">
      </a>
    </div>
  {/foreach}
{/if}