{block content}
<div class="col-12 middle-content">
  {control titleArticle admin_links=>$admin_links}

  {control titleImage admin_links=>$admin_links}
  <hr />
  <div class="clanok-casti podclanky">
    {*control menu:podclanky $uroven, divClass => main-admin-menu, avatar=>$avatar_path, anotacia => FALSE, article_avatar_view_in=>1*}
    <cardorder
      basepath="{$baseUrl}"
      id_hlavne_menu="{$clanok->id}"
    >
    </cardorder>
  </div>
</div>
