{var $robots = noindex}
{block #content}
<h2 n:block=title>{$h2}</h2>
{control clankyEditForm}

<script>
  /*var clanok = $('#frmclankyEditForm-text');
   var dopln = $('.dopln');
   dopln.click(function(){
//      console.log(dopln.text());
      console.log(clanok);
      var povtxt = clanok.val();
      var pok = dopln.text();
      console.log(pok);
      console.log(povtxt);
//      clanok.val(povtxt + pok);
      return false;
   });*/
</script>