#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don    t protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
services:
	- App\ApiModule\Presenters\DokumentyPresenter(%parameters%, %wwwDir%)
	- App\ApiModule\Presenters\LangPresenter(%parameters%)
	- App\ApiModule\Presenters\MenuPresenter(%parameters%)
	- App\ApiModule\Presenters\ProductsPresenter(%parameters%, %wwwDir%)
	- App\ApiModule\Presenters\SearchPresenter(%parameters%)
	- App\ApiModule\Presenters\SignPresenter(%parameters%)
	- App\ApiModule\Presenters\SliderPresenter(%parameters%, %wwwDir%)
	- App\ApiModule\Presenters\TexylaPresenter(%parameters%)
	- App\ApiModule\Presenters\UdajePresenter(%parameters%)
	- App\ApiModule\Presenters\UserPresenter(%parameters%)
	- App\ApiModule\Presenters\VerziePresenter(%parameters%)

	- DbTable\Fotocollage_settings
	- DbTable\Products_property
	- DbTable\Property
	- DbTable\User_permission
