#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don    t protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
services:
	- App\ApiModule\Presenters\DokumentyPresenter(@container::getParameters(), %wwwDir%)
	- App\ApiModule\Presenters\HomepagePresenter(@container::getParameters())
	- App\ApiModule\Presenters\LangPresenter(@container::getParameters())
	- App\ApiModule\Presenters\MenuPresenter(@container::getParameters())
	- App\ApiModule\Presenters\ProductsPresenter(@container::getParameters(), %wwwDir%)
	- App\ApiModule\Presenters\SearchPresenter(@container::getParameters())
	- App\ApiModule\Presenters\SignPresenter(@container::getParameters())
	- App\ApiModule\Presenters\SliderPresenter(@container::getParameters(), %wwwDir%)
	- App\ApiModule\Presenters\UdajePresenter(@container::getParameters())
	- App\ApiModule\Presenters\UserPresenter(@container::getParameters())
	- App\ApiModule\Presenters\VerziePresenter(@container::getParameters())

	- DbTable\Fotocollage_settings
	- DbTable\Nakup
	- DbTable\Products_property
	- DbTable\Property
	- DbTable\User_permission
